{% extends "layout.html" %}

{% block body %}
                    <div class="form">
                        <form action="{{url_for('predict')}}" method="post">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="name">Name : </label>
                                        <input type="text" name="name" id="name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="category">Category : </label>
                                            <select name="category" id="">
                                            {% for category in categoryList %}
                                                <option value="{{category}}">{{category}}</option>
                                            {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col special-col">
                                        <label for="country">Country : </label>
                                        <select name="country" id="">
                                        {% for country in countryList %}
                                            <option value="{{country}}">{{country}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 col-sm-6">
                                        <label for="age">Age : </label>
                                        <input style="width: 45%;" type="number" id="age" name="age">
                                    </div>
                                    <div class="col-8 col-sm-6">
                                        <label for="gender">Gender : </label>
                                        <select name="gender" id="">
                                        {% for gender in genderList %}
                                            <option value="{{gender}}">{{gender}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label for="degree">Degree : </label>
                                        <select name="degree" id="">
                                        {% for degree in degreeList %}
                                            <option value="{{degree}}">{{degree}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-7">
                                        <label for="relationship">Relationship Status : </label>
                                        <select name="relationship" id="">
                                        {% for maritalStatus in maritalStatusList %}
                                            <option value="{{maritalStatus}}">{{maritalStatus}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="play-button">
                                    <button type="submit">Predict Now</button>
                                </div>
                                <div class="prediction-container">
                                    <div class="prediction">
                                        <p>{{ prediction_value }}</p>
                                    </div> 
                                </div>
                            </div>
                        </form>
                    </div>
{% endblock %}