<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image"  content="https://networth-predictor.herokuapp.com/static/images/header_image.png">
    <meta name="title" content="Soumyadip Ghorai ">
    <meta name="description" content="Predict your potential future networth using AI">
    <meta name="keywords" content="Soumyadip Ghorai, Data Scientist, Data Analyst, Data Storyteller, Data Science portfolio, Data Scientist in India, Ai, machine leanring">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="5 days">
    <meta name="author" content="Soumyadip Ghorai">
    <meta name="google-site-verification" content="XkQP1Dt6Dt7ME7otEHe6uGPxO1eRI5ZuWRmkvykiJ7k" />

    <title>Predictos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/newIndex.css')}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename = 'images/favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename = 'images/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename = 'images/favicon/favicon-16x16.png')}}">
    {% block link %} {% endblock %}
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar">
            <span class="logo">
                <span class="logo-text">ghor</span><b><span class="animate-charcter highlight">Ai</span></b>
            </span>
        </nav>
    </div>
    <div class="container">
        <div class="main-section row">
            <div class="input-section col-sm-12 col-md-6 order-sm-1 order-2">
                <h1 class="animate-charcter">Predictos</h1>
                <p>Predict Your potential future Networth using <b><span class="animate-charcter highlight">AI</span></b> </p>
                {% block body %} {% endblock %}
            </div>
            <div class="display-section col-sm-12 col-md-6 order-sm-2 order-1">
                {% block image %} {% endblock %}
            </div>
        </div>
    </div>
</body>
<footer>
    <p><b>Developed with ❤️ by Soumyadip Ghorai ©2022</b></p>
</footer>
</html>